@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --black-color: #333;
    --yellow-color: #f1c111;
    --red-color:#C60021;
    --gray-color: #E6E6E6;
    --black-color: #171819;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {scroll-behavior: smooth;}

body {
    background-color: #F6F6F8;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

img {width: 100%;}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: var(--black-color);
}

p {margin: 10px 0;}

h1,
h2 {
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
}

i {margin-right: 5px;}

.hidden {
    visibility: hidden;
    height: 0;
}

/* navbar */
.navbar .container {
    padding: 20px 40px;
    justify-content: space-between;
    justify-self: center;
    height: auto;
}

.navbar ul {
    display: flex;
    font-weight: bold;
}

.navbar li {
    margin: 0 5px;
    padding: 10px;
}

.navbar a:hover {
    color: #C60021;
    border-bottom: dotted;
}

/* Showcase */
.showcase{height: 420px;}

.showcase img {
    max-width: 400px;
    max-height: 400px;
    text-align: center;
    margin: 0 auto;
}

.showcase .py-4 {max-width: 480px;}

.showcase h1 {
    font-size: 60px;
    font-weight: bold;
    animation: slideInFromTop 1s ease-in;
}

.showcase .social a {
    color: gray;
    font-size: 15px;
    margin-right: 10px;
}

/* Showcase Form */
.showcase .grid {
    grid-gap: 20px 50px;
    overflow: hidden;
}

.showcase .showcase-form {
    position: relative;
    top: 50px;
    height: 360px;
    width: 380px;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}

.showcase { position: relative; }

.slide::after {
    content: '';
    position: absolute;
    background: #F6F6F8;
    height: 100px;
    bottom: -50px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
}

.showcase-form .form-control { margin: 30px 0; }

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form input[type='tel']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus { outline: none; }

/* stats */
.stats { 
    padding-top: 80px; 
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    width: 500px;
    margin: auto;
}

/* Testimonial */
.testimonial img{
    width: 450px;
    height: 400px;
}

/* Location */
.location { padding-top: 40px; }

.location .container {
    max-width: 800px;
    justify-content: center;
    justify-self: center;
}

.location img { margin-bottom: -5px; }

/* Our Works */
/* Hero */
.hero img {
    width: 80px;
    height: 80px;
}

.hero .card {
    width: 250px;
    height: 180px;
    background-color: #b4becb;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.hero .card:hover {
    background-color: #f1c111;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Product Image */
.product-image img{
    width: 65%;
    height: 450px;
}

/* Ingredients */
.ingredients .card {
    width: 220px;
    height: 230px;
    background-color: #57d8d4;
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.ingredients .card:hover { transform: translateY(-15px); }

/* Footer */
.footer {
    height: 400px;
    position: relative;
}

.footer ul {
    margin-left: 30px;
    width: 300px;
}

.footer .flex {max-width: 1100px;}

.footer h3, span {color: var(--yellow-color);}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Small Screen Devices */
@media(max-width: 724px) {
    /* Navigation */
    .navbar { height: 110px; }
    .navbar .flex { flex-direction: column; }

    .grid,
    .showcase .grid,
    .stats .grid,
    .testimonial .flex,
    .hero .grid,
    .features-main .grid,
    .footer .flex {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .showcase {height: 700px;}

    .showcase .showcase-form {
        top: 0;
        margin-top: -30px;
    }

    .footer {
        text-align: center;
        padding: 20px 0;
        height: 500px;
    }
}

/* Old SmartPhones */
@media(max-width: 550px){

    /* Navigation Bar */
    .navbar .container {padding: 20px 5px;}

    .navbar h2 {font-size: 27px;}

    /* Home Page */
    .showcase h1{font-size: 38px;}

    .testimonial img {
        width: 350px;
        height: 330px;
        margin-bottom: -50px;
    }

    /* Contact */
    /* Showcase */
    .slide {margin-bottom: 100px;}

    .slide .container {padding: 0px 5px;}

    .slide div,
    .hero .container
    {
        margin: 0 auto;
        padding: 20px 0;
    }

    .slide div {
        width: 280px;
        text-align: center;
    }

    .showcase .showcase-form {
        position: relative;
        top: 30px;
        height: 380px;
        width: 270px;
        padding: 20px;
        z-index: 100;
        animation: slideInFromRight 1s ease-in;
    }

    .showcase-form .form-control { 
        margin: 0; 
        width: 230px;
    }

    /* Footer */
    .footer ul li, .footer{
        display: flex;
        text-align: center;
    }
}