.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.f-wrap {flex-wrap: wrap;}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    justify-self: center;
    height: auto;
}

.grid-1 {display: grid;}

.grid-3 {grid-template-columns: repeat(3, 1fr);}

.card {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color:var(--red-color);
}

/* text */
.text-center { text-align: center; }

/* Text Sizes */
.sm {font-size: 1rem;}
.md {font-size: 1.5rem;}
.lg {font-size: 2rem;}
.xl {font-size: 4rem;}

/* Text Colours */
.text-red {
    color: #C60021;
    font-weight: 600;
}
.text-light-black {color: #666262;}
.text-black {color: black;}
.text-blue{color: #00A8D0;}

/* background colours */
.bg-light-grey {background-color: var(--gray-color);}
.bg-light-green {background-color: #57d8d4;}
.bg-light-blue{background-color: #00A8D0;}
.bg-black{
    background-color: var(--black-color);
    color: #fff;
}

/* Margins */
/* Along y axis */
.my-1 {margin: 1rem 0;}
.my-2 {margin: 1.5rem 0;}
.my-3 {margin: 2rem 0;}
.my-4 {margin: 2.5rem 0;}

/* All direction */
.m-1 {margin: 1rem;}
.m-2 {margin: 1.5rem;}
.m-3 {margin: 2rem;}
.m-4 {margin: 2.5rem;}

/* Paddings */
.py-1 { margin: 1rem 0; }
.py-2 { margin: 1.5rem 0; }
.py-3 { margin: 2rem 0; }
.py-4 { margin: 3.5rem 0; }

/* All direction */
.p-1 {margin: 1rem;}
.p-2 {margin: 1.5rem;}
.p-3 {margin: 2rem;}
.p-4 {margin: 2.5rem;}
